In [1]:
pwd

'C:\\Users\\Akash\\Downloads\\DE Demo Project'

In [73]:
import pandas as pd
df=pd.read_csv('BS.2.csv')
for i in range(len(df['price'])) :
    num=df.at[i, 'price'][1:]
    if len(num)>6 :
        num1=num[0]
        num2=num[2:]
        num=num1+num2
        
    df.at[i, 'price']=pd.to_numeric(num)
df.to_csv("BS.3.csv")

In [80]:
import pandas as pd
df=pd.read_csv('BS.3.csv')
df.pop('Unnamed: 0')
df.pop('Unnamed: 0.1')
df.pop('Unnamed: 0.1.1')
df['date']=pd.to_datetime(df['date'])
df.info()
df.to_csv("BS.4.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1800841 entries, 0 to 1800840
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   Property_id   int64
 1   date          datetime64[ns]
 2   availability  bool
 3   price         float64
dtypes: bool(1), datetime64[ns](1), float64(1), int64(1)
memory usage: 42.9 MB

In [52]:
df["availability"] = df["availability"].astype('bool')
df.to_csv("BS.2.csv")

In [23]:
print(df_new.keys())
for i in df_new.items():
    print(i)

Index(['Property_id', 'date', 'availability', 'price'], dtype='object')
('Property_id', 128            2015
129            2015
130            2015
131            2015
132            2015
             ...
8231443    29809357
8231444    29809357
8231445    29809357
8231446    29809357
8231474    29809357
Name: Property_id, Length: 1800841, dtype: int64)
('date', 128        2019-05-05
129        2019-05-04
130        2019-05-03
131        2019-05-02
132        2019-05-01
              ...
8231443    2018-12-13
8231444    2018-12-12
8231445    2018-12-11
8231446    2018-12-10
8231474    2018-11-12
Name: date, Length: 1800841, dtype: object)
('availability', 128        t
129        t
130        t
131        t
132        t
          ..
8231443    t
8231444    t
8231445    t
8231446    t
8231474    t
Name: availability, Length: 1800841, dtype: object)
('price', 128        $76.00
129        $76.00
130        $76.00
131        $76.00
132        $78.00
            ...
8231443    $65.00
8231444    $65.00
8231445    $65.00
8231446    $65.00
8231474    $65.00
Name: price, Length: 1800841, dtype: object)

In [18]:
import pandas as pd
df1=pd.read_csv('Feedbacksummary.csv',encoding='latin-1')
df_new=df1.dropna()
df_new.pop('Comments')
df_new.to_csv("FS.1.csv")

In [35]:
import pandas as pd
df1=pd.read_csv('FS.1.csv')
df1['Date']=pd.to_datetime(df1['Date'])
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401467 entries, 0 to 401466
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     401467 non-null  int64
 1   Property_id    401467 non-null  int64
 2   Id             401467 non-null  int64
 3   Date           401467 non-null  datetime64[ns]
 4   Reviewer_id    401467 non-null  int64
 5   Reviewer_name  401467 non-null  object
dtypes: datetime64[ns](1), int64(4), object(1)
memory usage: 18.4+ MB

In [41]:
df1["Reviewer_name"] = df1["Reviewer_name"].convert_dtypes()
df1.info()
df_new.to_csv("FS.2.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 401467 entries, 0 to 401466
Data columns (total 6 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     401467 non-null  int64
 1   Property_id    401467 non-null  int64
 2   Id             401467 non-null  int64
 3   Date           401467 non-null  datetime64[ns]
 4   Reviewer_id    401467 non-null  int64
 5   Reviewer_name  401467 non-null  string
dtypes: datetime64[ns](1), int64(4), string(1)
memory usage: 18.4 MB

In [35]:
import pandas as pd
df1=pd.read_csv('PropertySummary.csv')
for i in df1.keys():
    print(i)

Property_id
Name
Experiences_offered
thumbnail_url
medium_url
xl_picture_url
Attendent_id
Attendent_name
Attendent_since
Attendent_location
Attendent_response_time
Attendent_response_rate
Attendent_acceptance_rate
Attendent_is_superAttendent
Attendent_neighbourhood
Attendent_Propertys_count
Attendent_total_Propertys_count
Attendent_verifications
Attendent_has_profile_pic
Attendent_identity_verified
neighbourhood
neighbourhood_cleansed
neighbourhood_group_cleansed
zipcode
country_code
country
latitude
longitude
is_location_exact
property_type
room_type
accommodates
bathrooms
bedrooms
beds
bed_type
amenities
square_feet
price
weekly_price
monthly_price
security_deposit
cleaning_fee
guests_included
extra_people
minimum_nights
maximum_nights
calendar_updated
has_availability
availability_30
availability_60
availability_90
availability_365
number_of_reviews
first_review
last_review
review_scores_rating
review_scores_accuracy
review_scores_cleanliness
review_scores_checkin
review_scores_communication
review_scores_location
review_scores_value
requires_license
license
instant_bookable
is_business_travel_ready
cancellation_policy
require_guest_profile_picture
require_guest_phone_verification
reviews_per_month

In [11]:
import pandas as pd
df1=pd.read_csv('PropertySummary.csv')
df1.pop('thumbnail_url')
df1.pop('xl_picture_url')
df1.pop('medium_url')
df1.pop('Experiences_offered')
df1.pop('Attendent_acceptance_rate')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 66 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Property_id                       22552 non-null  int64
 1   Name                              22493 non-null  object
 2   Attendent_id                      22552 non-null  int64
 3   Attendent_name                    22526 non-null  object
 4   Attendent_since                   22526 non-null  float64
 5   Attendent_location                22436 non-null  object
 6   Attendent_response_time           9658 non-null   object
 7   Attendent_response_rate           9657 non-null   float64
 8   Attendent_is_superAttendent       22526 non-null  object
 9   Attendent_neighbourhood           17458 non-null  object
 10  Attendent_Propertys_count         22526 non-null  float64
 11  Attendent_total_Propertys_count   22526 non-null  float64
 12  Attendent_verifications           22552 non-null  object
 13  Attendent_has_profile_pic         22526 non-null  object
 14  Attendent_identity_verified       22526 non-null  object
 15  neighbourhood                     21421 non-null  object
 16  neighbourhood_cleansed            22552 non-null  object
 17  neighbourhood_group_cleansed      22552 non-null  object
 18  zipcode                           21896 non-null  object
 19  country_code                      22552 non-null  object
 20  country                           22552 non-null  object
 21  latitude                          22552 non-null  float64
 22  longitude                         22552 non-null  float64
 23  is_location_exact                 22552 non-null  object
 24  property_type                     22552 non-null  object
 25  room_type                         22552 non-null  object
 26  accommodates                      22552 non-null  int64
 27  bathrooms                         22520 non-null  float64
 28  bedrooms                          22534 non-null  float64
 29  beds                              22512 non-null  float64
 30  bed_type                          22552 non-null  object
 31  amenities                         22552 non-null  object
 32  square_feet                       446 non-null    float64
 33  price                             22552 non-null  int64
 34  weekly_price                      3681 non-null   float64
 35  monthly_price                     2659 non-null   float64
 36  security_deposit                  13191 non-null  float64
 37  cleaning_fee                      15406 non-null  float64
 38  guests_included                   22552 non-null  int64
 39  extra_people                      22552 non-null  int64
 40  minimum_nights                    22552 non-null  int64
 41  maximum_nights                    22552 non-null  int64
 42  calendar_updated                  22552 non-null  object
 43  has_availability                  22552 non-null  object
 44  availability_30                   22552 non-null  int64
 45  availability_60                   22552 non-null  int64
 46  availability_90                   22552 non-null  int64
 47  availability_365                  22552 non-null  int64
 48  number_of_reviews                 22552 non-null  int64
 49  first_review                      18638 non-null  float64
 50  last_review                       18644 non-null  float64
 51  review_scores_rating              18163 non-null  float64
 52  review_scores_accuracy            18138 non-null  float64
 53  review_scores_cleanliness         18141 non-null  float64
 54  review_scores_checkin             18120 non-null  float64
 55  review_scores_communication       18134 non-null  float64
 56  review_scores_location            18121 non-null  float64
 57  review_scores_value               18117 non-null  float64
 58  requires_license                  22552 non-null  object
 59  license                           1638 non-null   object
 60  instant_bookable                  22552 non-null  object
 61  is_business_travel_ready          22552 non-null  object
 62  cancellation_policy               22552 non-null  object
 63  require_guest_profile_picture     22552 non-null  object
 64  require_guest_phone_verification  22552 non-null  object
 65  reviews_per_month                 18638 non-null  float64
dtypes: float64(24), int64(13), object(29)
memory usage: 11.4+ MB

In [14]:
df1.pop('reviews_per_month')
df1.pop('require_guest_phone_verification')
df1.pop('require_guest_profile_picture')
df1.pop('cancellation_policy')
df1.pop('is_business_travel_ready')
df1.pop('license')
df1.pop('requires_license')
df1.pop('last_review')
df1.pop('first_review')
df1.pop('calendar_updated')
df1.pop('bed_type')
df1.pop('square_feet')
df1.pop('is_location_exact')
df1.pop('country_code')
df1.pop('Attendent_has_profile_pic')
df1.pop('Attendent_verifications')
df1.pop('Attendent_identity_verified')
df1.pop('neighbourhood_cleansed')
df1.pop('neighbourhood_group_cleansed')

,Property_id,Name,Attendent_id,Attendent_name,Attendent_since,Attendent_location,Attendent_response_time,Attendent_response_rate,Attendent_is_superAttendent,Attendent_neighbourhood,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,2015,Top-Mitte Value! Quiet courtyard/very central,2217,Ian,39678.0,"Key Biscayne, Florida, United States",within an hour,0.96,t,Mitte,...,141,118,93.0,10.0,9.0,10.0,10.0,10.0,9.0,f
1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,39707.0,"Berlin, Berlin, Germany",NaN,NaN,f,Prenzlauer Berg,...,0,6,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,3176,Fabulous Flat in great Location,3718,Britta,39740.0,"Coledale, New South Wales, Australia",within a day,1.00,f,Prenzlauer Berg,...,220,143,92.0,9.0,9.0,9.0,9.0,10.0,9.0,t
3,3309,TopSpot Schöneberg near KaDeWe,4108,Jana,39759.0,"Berlin, Berlin, Germany",NaN,NaN,f,Schöneberg,...,297,25,88.0,9.0,9.0,9.0,10.0,9.0,9.0,f
4,7071,BrightRoom with sunny greenview!,17391,Bright,39949.0,"Berlin, Berlin, Germany",within an hour,1.00,t,Prenzlauer Berg,...,26,197,96.0,10.0,10.0,10.0,10.0,10.0,9.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,42584.0,"Berlin, Berlin, Germany",NaN,NaN,f,Mitte,...,314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,42477.0,"Berlin, Berlin, Germany",within an hour,0.88,f,Prenzlauer Berg,...,78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t
22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,41124.0,"Berlin, Berlin, Germany",NaN,NaN,f,Prenzlauer Berg,...,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,42183.0,"Berlin, Berlin, Germany",within a few hours,0.90,f,Mitte,...,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,43168.0,"Berlin, Berlin, Germany",NaN,NaN,f,Neukölln,...,21,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f

In [16]:
df1.to_csv("PS.1.csv")

In [84]:
import pandas as pd
df=pd.read_csv('PS.1.csv')
df['Name']=df['Name'].convert_dtypes()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 48 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  object
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  object
 7   Attendent_response_time          9658 non-null   object
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22526 non-null  object
 10  Attendent_neighbourhood          17458 non-null  object
 11  Attendent_Propertys_count        22526 non-null  float64
 12  Attendent_total_Propertys_count  22526 non-null  float64
 13  neighbourhood                    21421 non-null  object
 14  zipcode                          21896 non-null  object
 15  country                          22552 non-null  object
 16  latitude                         22552 non-null  float64
 17  longitude                        22552 non-null  float64
 18  property_type                    22552 non-null  object
 19  room_type                        22552 non-null  object
 20  accommodates                     22552 non-null  int64
 21  bathrooms                        22520 non-null  float64
 22  bedrooms                         22534 non-null  float64
 23  beds                             22512 non-null  float64
 24  amenities                        22552 non-null  object
 25  price                            22552 non-null  int64
 26  weekly_price                     3681 non-null   float64
 27  monthly_price                    2659 non-null   float64
 28  security_deposit                 13191 non-null  float64
 29  cleaning_fee                     15406 non-null  float64
 30  guests_included                  22552 non-null  int64
 31  extra_people                     22552 non-null  int64
 32  minimum_nights                   22552 non-null  int64
 33  maximum_nights                   22552 non-null  int64
 34  has_availability                 22552 non-null  object
 35  availability_30                  22552 non-null  int64
 36  availability_60                  22552 non-null  int64
 37  availability_90                  22552 non-null  int64
 38  availability_365                 22552 non-null  int64
 39  number_of_reviews                22552 non-null  int64
 40  review_scores_rating             18163 non-null  float64
 41  review_scores_accuracy           18138 non-null  float64
 42  review_scores_cleanliness        18141 non-null  float64
 43  review_scores_checkin            18120 non-null  float64
 44  review_scores_communication      18134 non-null  float64
 45  review_scores_location           18121 non-null  float64
 46  review_scores_value              18117 non-null  float64
 47  instant_bookable                 22552 non-null  object
dtypes: float64(20), int64(14), object(13), string(1)
memory usage: 8.3+ MB

In [85]:
df['Attendent_name']=df['Attendent_name'].convert_dtypes()
df['Attendent_is_superAttendent']=df['Attendent_is_superAttendent'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 48 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  object
 7   Attendent_response_time          9658 non-null   object
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_neighbourhood          17458 non-null  object
 11  Attendent_Propertys_count        22526 non-null  float64
 12  Attendent_total_Propertys_count  22526 non-null  float64
 13  neighbourhood                    21421 non-null  object
 14  zipcode                          21896 non-null  object
 15  country                          22552 non-null  object
 16  latitude                         22552 non-null  float64
 17  longitude                        22552 non-null  float64
 18  property_type                    22552 non-null  object
 19  room_type                        22552 non-null  object
 20  accommodates                     22552 non-null  int64
 21  bathrooms                        22520 non-null  float64
 22  bedrooms                         22534 non-null  float64
 23  beds                             22512 non-null  float64
 24  amenities                        22552 non-null  object
 25  price                            22552 non-null  int64
 26  weekly_price                     3681 non-null   float64
 27  monthly_price                    2659 non-null   float64
 28  security_deposit                 13191 non-null  float64
 29  cleaning_fee                     15406 non-null  float64
 30  guests_included                  22552 non-null  int64
 31  extra_people                     22552 non-null  int64
 32  minimum_nights                   22552 non-null  int64
 33  maximum_nights                   22552 non-null  int64
 34  has_availability                 22552 non-null  object
 35  availability_30                  22552 non-null  int64
 36  availability_60                  22552 non-null  int64
 37  availability_90                  22552 non-null  int64
 38  availability_365                 22552 non-null  int64
 39  number_of_reviews                22552 non-null  int64
 40  review_scores_rating             18163 non-null  float64
 41  review_scores_accuracy           18138 non-null  float64
 42  review_scores_cleanliness        18141 non-null  float64
 43  review_scores_checkin            18120 non-null  float64
 44  review_scores_communication      18134 non-null  float64
 45  review_scores_location           18121 non-null  float64
 46  review_scores_value              18117 non-null  float64
 47  instant_bookable                 22552 non-null  object
dtypes: bool(1), float64(20), int64(14), object(11), string(2)
memory usage: 8.1+ MB

In [89]:
df['Attendent_location']=df['Attendent_location'].convert_dtypes()
df['Attendent_response_time']=df['Attendent_response_time'].convert_dtypes()
df['zipcode']=pd.to_numeric(df['zipcode'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 46 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  string
 7   Attendent_response_time          9658 non-null   string
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_Propertys_count        22526 non-null  float64
 11  Attendent_total_Propertys_count  22526 non-null  float64
 12  zipcode                          21896 non-null  object
 13  country                          22552 non-null  object
 14  latitude                         22552 non-null  float64
 15  longitude                        22552 non-null  float64
 16  property_type                    22552 non-null  object
 17  room_type                        22552 non-null  object
 18  accommodates                     22552 non-null  int64
 19  bathrooms                        22520 non-null  float64
 20  bedrooms                         22534 non-null  float64
 21  beds                             22512 non-null  float64
 22  amenities                        22552 non-null  object
 23  price                            22552 non-null  int64
 24  weekly_price                     3681 non-null   float64
 25  monthly_price                    2659 non-null   float64
 26  security_deposit                 13191 non-null  float64
 27  cleaning_fee                     15406 non-null  float64
 28  guests_included                  22552 non-null  int64
 29  extra_people                     22552 non-null  int64
 30  minimum_nights                   22552 non-null  int64
 31  maximum_nights                   22552 non-null  int64
 32  has_availability                 22552 non-null  object
 33  availability_30                  22552 non-null  int64
 34  availability_60                  22552 non-null  int64
 35  availability_90                  22552 non-null  int64
 36  availability_365                 22552 non-null  int64
 37  number_of_reviews                22552 non-null  int64
 38  review_scores_rating             18163 non-null  float64
 39  review_scores_accuracy           18138 non-null  float64
 40  review_scores_cleanliness        18141 non-null  float64
 41  review_scores_checkin            18120 non-null  float64
 42  review_scores_communication      18134 non-null  float64
 43  review_scores_location           18121 non-null  float64
 44  review_scores_value              18117 non-null  float64
 45  instant_bookable                 22552 non-null  object
dtypes: bool(1), float64(20), int64(14), object(7), string(4)
memory usage: 7.8+ MB

,Unnamed: 0,Property_id,Name,Attendent_id,Attendent_name,Attendent_since,Attendent_location,Attendent_response_time,Attendent_response_rate,Attendent_is_superAttendent,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,0,2015,Top-Mitte Value! Quiet courtyard/very central,2217,Ian,39678.0,"Key Biscayne, Florida, United States",within an hour,0.96,True,...,141,118,93.0,10.0,9.0,10.0,10.0,10.0,9.0,f
1,1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,39707.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,0,6,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,2,3176,Fabulous Flat in great Location,3718,Britta,39740.0,"Coledale, New South Wales, Australia",within a day,1.00,True,...,220,143,92.0,9.0,9.0,9.0,9.0,10.0,9.0,t
3,3,3309,TopSpot Schöneberg near KaDeWe,4108,Jana,39759.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,297,25,88.0,9.0,9.0,9.0,10.0,9.0,9.0,f
4,4,7071,BrightRoom with sunny greenview!,17391,Bright,39949.0,"Berlin, Berlin, Germany",within an hour,1.00,True,...,26,197,96.0,10.0,10.0,10.0,10.0,10.0,9.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,42584.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22548,22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,42477.0,"Berlin, Berlin, Germany",within an hour,0.88,True,...,78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t
22549,22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,41124.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22550,22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,42183.0,"Berlin, Berlin, Germany",within a few hours,0.90,True,...,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22551,22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,43168.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,21,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f

In [100]:
df.dropna(subset=['zipcode'])

,Unnamed: 0,Property_id,Name,Attendent_id,Attendent_name,Attendent_since,Attendent_location,Attendent_response_time,Attendent_response_rate,Attendent_is_superAttendent,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,0,2015,Top-Mitte Value! Quiet courtyard/very central,2217,Ian,39678.0,"Key Biscayne, Florida, United States",within an hour,0.96,True,...,141,118,93.0,10.0,9.0,10.0,10.0,10.0,9.0,f
1,1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,39707.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,0,6,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,2,3176,Fabulous Flat in great Location,3718,Britta,39740.0,"Coledale, New South Wales, Australia",within a day,1.00,True,...,220,143,92.0,9.0,9.0,9.0,9.0,10.0,9.0,t
3,3,3309,TopSpot Schöneberg near KaDeWe,4108,Jana,39759.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,297,25,88.0,9.0,9.0,9.0,10.0,9.0,9.0,f
4,4,7071,BrightRoom with sunny greenview!,17391,Bright,39949.0,"Berlin, Berlin, Germany",within an hour,1.00,True,...,26,197,96.0,10.0,10.0,10.0,10.0,10.0,9.0,f
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,42584.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22548,22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,42477.0,"Berlin, Berlin, Germany",within an hour,0.88,True,...,78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,t
22549,22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,41124.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22550,22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,42183.0,"Berlin, Berlin, Germany",within a few hours,0.90,True,...,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f
22551,22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,43168.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,21,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f

In [111]:
df['zipcode']=10119
df['zipcode']=pd.to_numeric(df['zipcode'])
df.info()
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  string
 7   Attendent_response_time          9658 non-null   string
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_Propertys_count        22526 non-null  float64
 11  Attendent_total_Propertys_count  22526 non-null  float64
 12  zipcode                          22552 non-null  int64
 13  latitude                         22552 non-null  float64
 14  longitude                        22552 non-null  float64
 15  accommodates                     22552 non-null  int64
 16  bathrooms                        22520 non-null  float64
 17  bedrooms                         22534 non-null  float64
 18  beds                             22512 non-null  float64
 19  amenities                        22552 non-null  object
 20  price                            22552 non-null  int64
 21  weekly_price                     3681 non-null   float64
 22  monthly_price                    2659 non-null   float64
 23  security_deposit                 13191 non-null  float64
 24  cleaning_fee                     15406 non-null  float64
 25  guests_included                  22552 non-null  int64
 26  extra_people                     22552 non-null  int64
 27  has_availability                 22552 non-null  bool
 28  availability_30                  22552 non-null  int64
 29  availability_60                  22552 non-null  int64
 30  availability_90                  22552 non-null  int64
 31  availability_365                 22552 non-null  int64
 32  number_of_reviews                22552 non-null  int64
 33  review_scores_rating             18163 non-null  float64
 34  review_scores_accuracy           18138 non-null  float64
 35  review_scores_cleanliness        18141 non-null  float64
 36  review_scores_checkin            18120 non-null  float64
 37  review_scores_communication      18134 non-null  float64
 38  review_scores_location           18121 non-null  float64
 39  review_scores_value              18117 non-null  float64
 40  instant_bookable                 22552 non-null  bool
dtypes: bool(3), float64(20), int64(13), object(1), string(4)
memory usage: 6.6+ MB

,Unnamed: 0,Property_id,Name,Attendent_id,Attendent_name,Attendent_since,Attendent_location,Attendent_response_time,Attendent_response_rate,Attendent_is_superAttendent,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,0,2015,Top-Mitte Value! Quiet courtyard/very central,2217,Ian,39678.0,"Key Biscayne, Florida, United States",within an hour,0.96,True,...,141,118,93.0,10.0,9.0,10.0,10.0,10.0,9.0,True
1,1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,39707.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,0,6,100.0,10.0,10.0,10.0,10.0,10.0,10.0,True
2,2,3176,Fabulous Flat in great Location,3718,Britta,39740.0,"Coledale, New South Wales, Australia",within a day,1.00,True,...,220,143,92.0,9.0,9.0,9.0,9.0,10.0,9.0,True
3,3,3309,TopSpot Schöneberg near KaDeWe,4108,Jana,39759.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,297,25,88.0,9.0,9.0,9.0,10.0,9.0,9.0,True
4,4,7071,BrightRoom with sunny greenview!,17391,Bright,39949.0,"Berlin, Berlin, Germany",within an hour,1.00,True,...,26,197,96.0,10.0,10.0,10.0,10.0,10.0,9.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,42584.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22548,22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,42477.0,"Berlin, Berlin, Germany",within an hour,0.88,True,...,78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22549,22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,41124.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22550,22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,42183.0,"Berlin, Berlin, Germany",within a few hours,0.90,True,...,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22551,22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,43168.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,21,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [103]:
df.pop('country')
df.pop('property_type')
df.pop('room_type')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  string
 7   Attendent_response_time          9658 non-null   string
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_Propertys_count        22526 non-null  float64
 11  Attendent_total_Propertys_count  22526 non-null  float64
 12  zipcode                          22552 non-null  int64
 13  latitude                         22552 non-null  float64
 14  longitude                        22552 non-null  float64
 15  accommodates                     22552 non-null  int64
 16  bathrooms                        22520 non-null  float64
 17  bedrooms                         22534 non-null  float64
 18  beds                             22512 non-null  float64
 19  amenities                        22552 non-null  object
 20  price                            22552 non-null  int64
 21  weekly_price                     3681 non-null   float64
 22  monthly_price                    2659 non-null   float64
 23  security_deposit                 13191 non-null  float64
 24  cleaning_fee                     15406 non-null  float64
 25  guests_included                  22552 non-null  int64
 26  extra_people                     22552 non-null  int64
 27  minimum_nights                   22552 non-null  int64
 28  maximum_nights                   22552 non-null  int64
 29  has_availability                 22552 non-null  object
 30  availability_30                  22552 non-null  int64
 31  availability_60                  22552 non-null  int64
 32  availability_90                  22552 non-null  int64
 33  availability_365                 22552 non-null  int64
 34  number_of_reviews                22552 non-null  int64
 35  review_scores_rating             18163 non-null  float64
 36  review_scores_accuracy           18138 non-null  float64
 37  review_scores_cleanliness        18141 non-null  float64
 38  review_scores_checkin            18120 non-null  float64
 39  review_scores_communication      18134 non-null  float64
 40  review_scores_location           18121 non-null  float64
 41  review_scores_value              18117 non-null  float64
 42  instant_bookable                 22552 non-null  object
dtypes: bool(1), float64(20), int64(15), object(3), string(4)
memory usage: 7.2+ MB

In [105]:
df['has_availability']=df['has_availability'].astype(bool)
df['instant_bookable']=df['instant_bookable'].astype(bool)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 43 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  string
 7   Attendent_response_time          9658 non-null   string
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_Propertys_count        22526 non-null  float64
 11  Attendent_total_Propertys_count  22526 non-null  float64
 12  zipcode                          22552 non-null  int64
 13  latitude                         22552 non-null  float64
 14  longitude                        22552 non-null  float64
 15  accommodates                     22552 non-null  int64
 16  bathrooms                        22520 non-null  float64
 17  bedrooms                         22534 non-null  float64
 18  beds                             22512 non-null  float64
 19  amenities                        22552 non-null  object
 20  price                            22552 non-null  int64
 21  weekly_price                     3681 non-null   float64
 22  monthly_price                    2659 non-null   float64
 23  security_deposit                 13191 non-null  float64
 24  cleaning_fee                     15406 non-null  float64
 25  guests_included                  22552 non-null  int64
 26  extra_people                     22552 non-null  int64
 27  minimum_nights                   22552 non-null  int64
 28  maximum_nights                   22552 non-null  int64
 29  has_availability                 22552 non-null  bool
 30  availability_30                  22552 non-null  int64
 31  availability_60                  22552 non-null  int64
 32  availability_90                  22552 non-null  int64
 33  availability_365                 22552 non-null  int64
 34  number_of_reviews                22552 non-null  int64
 35  review_scores_rating             18163 non-null  float64
 36  review_scores_accuracy           18138 non-null  float64
 37  review_scores_cleanliness        18141 non-null  float64
 38  review_scores_checkin            18120 non-null  float64
 39  review_scores_communication      18134 non-null  float64
 40  review_scores_location           18121 non-null  float64
 41  review_scores_value              18117 non-null  float64
 42  instant_bookable                 22552 non-null  bool
dtypes: bool(3), float64(20), int64(15), object(1), string(4)
memory usage: 6.9+ MB

In [107]:
df.pop('minimum_nights')
df.pop('maximum_nights')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  string
 7   Attendent_response_time          9658 non-null   string
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_Propertys_count        22526 non-null  float64
 11  Attendent_total_Propertys_count  22526 non-null  float64
 12  zipcode                          22552 non-null  int64
 13  latitude                         22552 non-null  float64
 14  longitude                        22552 non-null  float64
 15  accommodates                     22552 non-null  int64
 16  bathrooms                        22520 non-null  float64
 17  bedrooms                         22534 non-null  float64
 18  beds                             22512 non-null  float64
 19  amenities                        22552 non-null  object
 20  price                            22552 non-null  int64
 21  weekly_price                     3681 non-null   float64
 22  monthly_price                    2659 non-null   float64
 23  security_deposit                 13191 non-null  float64
 24  cleaning_fee                     15406 non-null  float64
 25  guests_included                  22552 non-null  int64
 26  extra_people                     22552 non-null  int64
 27  has_availability                 22552 non-null  bool
 28  availability_30                  22552 non-null  int64
 29  availability_60                  22552 non-null  int64
 30  availability_90                  22552 non-null  int64
 31  availability_365                 22552 non-null  int64
 32  number_of_reviews                22552 non-null  int64
 33  review_scores_rating             18163 non-null  float64
 34  review_scores_accuracy           18138 non-null  float64
 35  review_scores_cleanliness        18141 non-null  float64
 36  review_scores_checkin            18120 non-null  float64
 37  review_scores_communication      18134 non-null  float64
 38  review_scores_location           18121 non-null  float64
 39  review_scores_value              18117 non-null  float64
 40  instant_bookable                 22552 non-null  bool
dtypes: bool(3), float64(20), int64(13), object(1), string(4)
memory usage: 6.6+ MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22552 entries, 0 to 22551
Data columns (total 41 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Unnamed: 0                       22552 non-null  int64
 1   Property_id                      22552 non-null  int64
 2   Name                             22493 non-null  string
 3   Attendent_id                     22552 non-null  int64
 4   Attendent_name                   22526 non-null  string
 5   Attendent_since                  22526 non-null  float64
 6   Attendent_location               22436 non-null  string
 7   Attendent_response_time          9658 non-null   string
 8   Attendent_response_rate          9657 non-null   float64
 9   Attendent_is_superAttendent      22552 non-null  bool
 10  Attendent_Propertys_count        22526 non-null  float64
 11  Attendent_total_Propertys_count  22526 non-null  float64
 12  zipcode                          22552 non-null  int64
 13  latitude                         22552 non-null  float64
 14  longitude                        22552 non-null  float64
 15  accommodates                     22552 non-null  int64
 16  bathrooms                        22520 non-null  float64
 17  bedrooms                         22534 non-null  float64
 18  beds                             22512 non-null  float64
 19  amenities                        22552 non-null  object
 20  price                            22552 non-null  int64
 21  weekly_price                     3681 non-null   float64
 22  monthly_price                    2659 non-null   float64
 23  security_deposit                 13191 non-null  float64
 24  cleaning_fee                     15406 non-null  float64
 25  guests_included                  22552 non-null  int64
 26  extra_people                     22552 non-null  int64
 27  has_availability                 22552 non-null  bool
 28  availability_30                  22552 non-null  int64
 29  availability_60                  22552 non-null  int64
 30  availability_90                  22552 non-null  int64
 31  availability_365                 22552 non-null  int64
 32  number_of_reviews                22552 non-null  int64
 33  review_scores_rating             18163 non-null  float64
 34  review_scores_accuracy           18138 non-null  float64
 35  review_scores_cleanliness        18141 non-null  float64
 36  review_scores_checkin            18120 non-null  float64
 37  review_scores_communication      18134 non-null  float64
 38  review_scores_location           18121 non-null  float64
 39  review_scores_value              18117 non-null  float64
 40  instant_bookable                 22552 non-null  bool
dtypes: bool(3), float64(20), int64(13), object(1), string(4)
memory usage: 6.6+ MB

,Unnamed: 0,Property_id,Name,Attendent_id,Attendent_name,Attendent_since,Attendent_location,Attendent_response_time,Attendent_response_rate,Attendent_is_superAttendent,...,availability_365,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,0,2015,Top-Mitte Value! Quiet courtyard/very central,2217,Ian,39678.0,"Key Biscayne, Florida, United States",within an hour,0.96,True,...,141,118,93.0,10.0,9.0,10.0,10.0,10.0,9.0,True
1,1,2695,Prenzlauer Berg close to Mauerpark,2986,Michael,39707.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,0,6,100.0,10.0,10.0,10.0,10.0,10.0,10.0,True
2,2,3176,Fabulous Flat in great Location,3718,Britta,39740.0,"Coledale, New South Wales, Australia",within a day,1.00,True,...,220,143,92.0,9.0,9.0,9.0,9.0,10.0,9.0,True
3,3,3309,TopSpot Schöneberg near KaDeWe,4108,Jana,39759.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,297,25,88.0,9.0,9.0,9.0,10.0,9.0,9.0,True
4,4,7071,BrightRoom with sunny greenview!,17391,Bright,39949.0,"Berlin, Berlin, Germany",within an hour,1.00,True,...,26,197,96.0,10.0,10.0,10.0,10.0,10.0,9.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22547,22547,29856708,Cozy Apartment right in the center of Berlin,87555909,Ulisses,42584.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,314,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22548,22548,29857108,Altbau/ Schöneberger Kiez / Schlafsofa,67537363,Jörg,42477.0,"Berlin, Berlin, Germany",within an hour,0.88,True,...,78,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22549,22549,29864272,Artists loft with garden in the center of Berlin,3146923,Martin,41124.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,15,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22550,22550,29866805,Room for two with private shower / WC,36961901,Arte Luise,42183.0,"Berlin, Berlin, Germany",within a few hours,0.90,True,...,6,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
22551,22551,29867352,"Sunny, modern and cozy flat in Berlin Neukölln :)",177464875,Sebastian,43168.0,"Berlin, Berlin, Germany",<NA>,NaN,True,...,21,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True

In [113]:
df.to_csv("PS.3.csv")